{% include "header.html" %}

  {% load staticfiles %}
  {% static "" as baseUrl %}
  <body>
    <div id="main-container">
      {% include "usermenu.html" %}
      <h1>Solos Evaluation - Sobre</h1>

      <p>
        Nesta pesquisa, você ouvirá alguns solos curtos de guitarra e avaliará o quanto você gostou deles.
      </p>
      <p>
        Após cada solo, é necessário indicar sua satisfação utilizando uma escala que vai de 1 (Não gostei, absolutamente) à 7 (Gostei bastante). Fique à vontade para usar toda a variação da escala da forma que achar mais adequado. 
      </p>
      <p>
        Esta pesquisa demora aproximadamente 5 minutos para ser concluída.
      </p>
      <p>
        Obrigado por participar!
      </p>

      <br /><br />
      <hr />
      <br /><br />

      <h1>Solos Evaluation - About</h1>

      <p>
        In this survey, you will hear some short guitar solos and will evaluate how much you liked them.
      </p>
      <p>
        After each solo, you will be asked to indicate your enjoyment on a rating scale from 1 (Not at all) to 7 (Very much). Please use the entire range of the scale as you find appropriate. 
      </p>
      <p>
        The study takes approximately 5 minutes to complete.
      </p>
      <p>
        Thank you for volunteering to participate!
      </p>

      <button id="go-to-evals"  class="btn btn-info" type="submit">Go to solos.</button>

    </div>

{% include "footer.html" %}
