{% include "header.html" %}
  <body>
    <div id="main-container">
      {% include "usermenu.html" %}

      <h1 id="pass-change-title">Password Changing</h1>
      <div id="alerts"></div>
      {% if change_error %}
      <div class="alert alert-danger" id="change-error" role="alert">Something wrong. Username or passwords don't match. Please, try again.</div>
      {% endif %}
      <div id="change-password-container" class="form-group">
        <form class="form-horizontal" method="post" action="/contest/user/changepassword/">
          {% csrf_token %}
          {{ form.as_p }}
          <input id="ipt-change-pass" type="submit" value="Save" class="btn btn-default" />
        </form>      
      </div>
    </div>

{% include "footer.html" %}